.row-header {
  margin: 0px auto;
  padding: 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #dbb08d;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  margin: 0px auto;
  background: #6e3f19 !important;
  color: floralwhite !important;
}
address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}
.bg-light {
  background-color: #dbb08d !important;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0px;
}
.table .thead-dark th {
  color: floralwhite;
  background-color: #6e3f19;
}

/* pseudoclass */
tr:hover {
  background-color: #dbb08db0 !important;
}
/* * * * * * * */

.bg-secondary {
  color: floralwhite !important;
  background-color: #6e3f19 !important;
}
.card-body {
  background-color: #dbb08db0;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

div.accordion p {
  color: black;
}

/* --- Carousel --- */
.carousel {
  background: #914d15b0;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
#carouselButtons {
  right: 0px;
  position: absolute;
  bottom: 0px;
  /* x-index +1 brings the target in front of other elements */
  z-index: +1;
}
/* ----------------- */

/* menu file (bootsnip: https://bootsnipp.com/snippets/M515A)*/
.view-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
}
.thumbnail {
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.item.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
  width: 30%;
}

.item.list-group-item .list-group-image {
  margin-right: 10px;
}
.item.list-group-item .thumbnail {
  margin-bottom: 0px;
  display: inline-block;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item:after {
  clear: both;
}
/* ------------ */

/* Success Order Modal CodePen: https://codepen.io/vikram_e22/pen/BQNaBB*/

body {
  /* background-color: #e6e6e6; */
  width: 100%;
  height: 100%;
}
#success_tic .page-body {
  max-width: 300px;
  background-color: #ffffff;
  margin: 10% auto;
}
#success_tic .page-body .head {
  text-align: center;
}
/* #success_tic .tic{
  font-size:186px;
} */
#success_tic .close {
  opacity: 1;
  position: absolute;
  right: 0px;
  font-size: 30px;
  padding: 3px 15px;
  margin-bottom: 10px;
}
#success_tic .checkmark-circle {
  width: 150px;
  height: 150px;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.checkmark-circle .background {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #2ab63c;
  position: absolute;
}
#success_tic .checkmark-circle .checkmark {
  border-radius: 5px;
}
#success_tic .checkmark-circle .checkmark.draw:after {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
  animation-delay: 300ms;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-name: checkmark;
  -moz-animation-name: checkmark;
  animation-name: checkmark;
  -webkit-transform: scaleX(-1) rotate(135deg);
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -o-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#success_tic .checkmark-circle .checkmark:after {
  opacity: 1;
  height: 75px;
  width: 37.5px;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  border-right: 15px solid #fff;
  border-top: 15px solid #fff;
  border-radius: 2.5px !important;
  content: "";
  left: 35px;
  top: 80px;
  position: absolute;
}

@-webkit-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@-moz-keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 37.5px;
    opacity: 1;
  }
  40% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
  100% {
    height: 75px;
    width: 37.5px;
    opacity: 1;
  }
}

/* ------------- */

/* Cart icon and counter */
/* div {
  background: #eee;
  width: 70px;
  text-align: center;
} */
.cart-counter {
  display: inline-block;
  opacity: 0.5;
}
/* --------------- */
